<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" data-theme="dark">
<head>
  {{ partial "head.html" . }}
  {{ partial "head/css.html" . }}
</head>
<body class="layout">
  {{ partial "left-side.html" . }}
  <div class="layout__main-wrapper">
    {{ partial "header.html" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "right-side.html" . }}
  {{ partial "head/js.html" . }}
</body>
</html>