{{- define "main" -}}
<article class="content">
  <header class="content__header">
    <h1 class="content__title">{{- .Title -}}</h1>
  </header>
  
  <section class="content__article" id="contentArticle">
    {{- .Content -}}
  </section>

  <nav class="content__nav">
    <ul class="content__nav-list">
      {{- range .Data.Terms.Alphabetical -}}
        <li class="content__nav-item">
          <a class="content__nav-link" href="{{- .Page.RelPermalink -}}">
            <span>{{- .Page.LinkTitle -}}</span>
          </a>
          <span class="content__nav-count">({{- .Count -}})</span>
        </li>
      {{- end -}}
    </ul>
  </nav>
  {{- $pages := where .Site.Pages "Kind" "page" -}}
  {{- $json := dict "pages" $pages -}}
  {{- .Render "json" -}}
</article>
{{- end -}}