{{- define "main" -}}
<article class="article">
  <header class="article__header">
    <h1 class="article__title">{{- .Title -}}</h1>
  </header>
  
  <section class="article__body" id="contentArticle">
    {{- .Content -}}
  </section>

  <nav class="article__nav">
    <ul class="article__nav-list">
      {{- range .Data.Terms.Alphabetical -}}
        <li class="article__nav-item">
          <a class="article__nav-link" href="{{- .Page.RelPermalink -}}">
            <span>{{- .Page.LinkTitle -}}</span>
          </a>
          <span class="article__nav-count">({{- .Count -}})</span>
        </li>
      {{- end -}}
    </ul>
  </nav>
</article>
{{- end -}}