{{- define "main" -}}
<main>
  <article>
    <header>
      <h1>{{- .Title -}}</h1>
    </header>
    
    <section id="contentArticle">
      {{- .Content -}}
    </section>
  
    <nav>
      <ul>
        {{- range .Data.Terms.Alphabetical -}}
          <li class="nav__item">
            <a class="nav__link" href="{{- .Page.RelPermalink -}}">
              <span class="nav__link-name">{{- .Page.LinkTitle -}}</span>
            </a>
            <span class="nav__item-name">({{- .Count -}})</span>
          </li>
        {{- end -}}
      </ul>
    </nav>
  </article>
</main>
{{- end -}}