{{- define "main" -}}
<main>
  <article>
    <header>
      <h1>{{ .Title }}</h1>
    </header>

    <section id="contentArticle">
      {{- .Content | safeHTML -}}
    </section>

    <footer>
      <ul>
        <li><strong>Tags: </strong>
          {{- with .Params.tags -}}
            {{- range . -}}
            <a href="{{- "tags/" | relURL -}}{{- . | urlize -}}">{{- . -}}, </a>
            {{- end -}}
          {{- end -}}
        </li>
        <li><strong>Categories: </strong>
          {{- with .Params.categories -}}
            {{- range . -}}
            <a href="{{- "categories/" | relURL -}}{{- . | urlize -}}">{{- . -}}, </a>
            {{- end -}}
          {{- end -}}
        </li>
      </ul>
    </footer>
  </article>
</main>
{{- end -}}