<nav class="navbar">
  <div class="navbar__label"Font Size></div>
  <ul class="nav" id="fontAdjustment">
    <li class="nav__item">
      <label for="fontSizeSmall">
        <input type="checkbox" id="fontSizeSmall" name="fontSizeSmall">
        <span>Small</span>
      </label>
    </li>
    <li class="nav__item">
      <label for="fontSizeDefault">
        <input type="checkbox" id="fontSizeDefault" name="fontSizeDefault">
        <span>Default</span>
      </label>
    </li>
    <li class="nav__item">
      <label for="fontSizeMedium">
        <input type="checkbox" id="fontSizeMedium" name="fontSizeMedium">
        <span>Medium</span>
      </label>
    </li>
    <li class="nav__item">
      <label for="fontSizeLarge">
        <input type="checkbox" id="fontSizeLarge" name="fontSizeLarge">
        <span>Larger</span>
      </label>
    </li>
  </ul>
</nav>