<!-- |===========| START: RELATED POSTS |===========| -->
<nav class="navbar">
  <div class="navbar__label">Related Content</div>
  
  <ul class="nav">
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ if $related }}
      {{ range $related }}
        <li class="nav__item">
          <a href="{{ .RelPermalink }}" class="nav__link">
            {{ .Title }}
          </a>
        </li>
      {{ end }}
    {{ else }}
      <li class="nav__item">No related content.</li>
    {{ end }}
  </ul>
</nav>
<!-- |===========| END: RELATED POSTS |===========| -->