<nav class="navbar">
  <div class="navbar__label">Language</div>
  <ul class="nav" id="languageList">
    {{ range $.Site.Home.AllTranslations }}
      <li class="nav__item">
        <label class="nav__link" for="lang-{{ .Language.Lang }}">
          <input type="checkbox"
                 value="{{ .RelPermalink }}"
                 name="lang"
                 id="lang-{{ .Language.Lang }}"
                 {{ if eq .Language.Lang $.Site.Language.Lang }}checked{{ end }}>
          {{ .Language.LanguageName }}
        </label>
      </li>
    {{ end }}
  </ul>
</nav>