@mixin ellipsis($width){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: $width;
}

@mixin align-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin shadow {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}