%tree-style-list {
    ul {
        list-style-type: none;
        padding-left: var(--size-2);
        position: relative;
    }

    li {
        position: relative;
        padding-left: var(--size-5);
        padding-top: var(--size-2);

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background-color: var(--cl-border);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 15px;
            width: 15px;
            height: 1px;
            background-color: var(--cl-border);
        }

        &:last-child::before {
            height: 15px;
        }
    }
    
    a {
        font-size: var(--fs-body);
        color: var(--cl-text);
        display: block;
        text-decoration: none;
        font-family: var(--font-nav);
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--link-hover);
        }
    }
}