<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="author" content="{{ .Site.Params.author.name }}">

  {{ with .OutputFormats.Get "rss" }}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end }}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "index.xml" | relURL }}">

  {{ partialCached "head/twitter.html" . }}
  {{ partialCached "head/facebook.html" . }}
  {{ partialCached "head/favicons.html" . }}
  {{ partialCached "head/css.html" . }}
  {{ partialCached "head/js.html" . }}
  {{ partialCached "head/script.html" . }}
</head>