{{ $icons := dict
  "tip" "bi-fire"
  "info" "bi-info-circle"
  "success" "bi-clipboard-check"
  "warning" "bi-exclamation-octagon"
  "danger" "bi-lightning-fill"
  "error" "bi-bug"
  "bug" "bi-bug-fill"
  "note" "bi-pen"
  "abstract" "bi-clipboard-data"
  "todo" "bi-check2-circle"
  "question" "bi-question-circle"
  "failure" "bi-x"
  "example" "bi-list-ul"
  "quote" "bi-quote"
  "important" "bi-exclamation-triangle-fill"
  "history" "bi-clock-history"
  "journal" "bi-journal-text"
  "person" "bi-person"
}}

{{ if eq .Type "alert" }}
  <blockquote class="alert alert--{{ .AlertType }}">
    <header class="alert__header">
      <i class="bi {{ index $icons .AlertType }} alert__icon"></i>
      {{ with .AlertTitle }}
        <div class="alert__title">{{ . }}</div>
      {{ else }}
        {{ or (i18n .AlertType) (title .AlertType) }}
      {{ end }}
    </header>
    <div class="alert__content">
      {{ .Text }}
    </div>
  </blockquote>
{{ else }}
  <blockquote class="alert">
    {{ .Text }}
  </blockquote>
{{ end }}
