@use "../abstract/breakpoint" as bp;
@use "../abstract/mixins" as m;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@400;700&family=Fira+Mono:wght@400;500&family=Lora:wght@400;600&family=Poppins:wght@400;600&family=Playfair+Display:wght@400;700&family=Work+Sans:wght@400;600&display=swap");

html {
    font-family: var(--font-base);
    font-size: var(--fs-html);
}

body {
    font-size: var(--fs-base);
}

main {
    line-height: 1.6;
    h1, h2, h3, h4, h5, h6 {
        @include m.my(var(--size-5));
        color: var(--cl-heading);
        scroll-margin-top: 4rem;

        @include bp.min-width(lg){
            scroll-margin-top: 0;
        }
    }

    h1 {font-size: var(--fs-7xl);}
    h2 {font-size: var(--fs-5xl);}
    h3 {font-size: var(--fs-4xl);}
    h4 {font-size: var(--fs-3xl);}
    h5 {font-size: var(--fs-2xl);}
    h6 {font-size: var(--fs-1xl);}

    article p {
        font-family: var(--font-article);
    }

    b, strong {
        color: var(--cl-secondary);
        font-weight: bold;
    }

    ul, ol {
        padding-left: var(--size-5);
        margin-bottom: var(--size-4);
    }

    pre {
        @include m.py(var(--size-5));
        @include m.px(var(--size-2));
        border-radius: var(--size-1);
        border: var(--border-1) solid var(--cl-border);
        width: 100%;
        overflow-x: auto;
    }

    hr {
        border: 0;
        border-top: var(--border-1) solid var(--cl-border);
        margin: var(--size-5) 0;
        width: 100%;
    }

    a {
        color: var(--cl-primary);
        font-family: var(--font-link);

        &:hover {
            color: var(--cl-secondary);
        }
    }
}