<div class="navbar">
  <div class="navbar__label">Font Size</div>
  <ul class="nav" id="fontAdjust">
    <li class="nav__list">
      <input type="checkbox" name="defaultFontSize" id="defaultFontSize">
      <label for="defaultFontSize">Default</label>
    </li>
    <li class="nav__list">
      <input type="checkbox" name="smallFontSize" id="smallFontSize">
      <label for="smallFontSize">Small Font Size</label>
    </li>
    <li class="nav__list">
      <input type="checkbox" name="largeFontSize" id="largeFontSize">
      <label for="largeFontSize">Large Font Size</label>
    </li>
  </ul>
</div>