<div class="navbar">
  <div class="navbar__label">Font Size</div>
  <ul class="nav" id="switchTheme">
    <li class="nav__list">
      <input type="checkbox" name="autoTheme" id="autoTheme" checked>
      <label for="autoTheme">Auto</label>
    </li>
    <li class="nav__list">
      <input type="checkbox" name="darkTheme" id="darkTheme">
      <label for="darkTheme">Dark Theme</label>
    </li>
    <li class="nav__list">
      <input type="checkbox" name="lightTheme" id="lightTheme">
      <label for="lightTheme">Light Theme</label>
    </li>
  </ul>
</div>