<aside class="offcanvas offcanvas--responsive offcanvas--left" id="leftOffcanvas">
  <header class="offcanvas__header">

    <a href="{{ site.BaseURL | relURL }}" class="brand">{{ site.Params.name }}</a>

    <button class="btn btn--icon" data-toggle-offcanvas="leftOffcanvas" title="{{ i18n "sidebar_left_close" }}" aria-label="{{ i18n "sidebar_left_close" }}">
      <i class="bi bi-x"></i>
    </button>

  </header>
  
  {{ partial "widget/search.html" . }}
  {{ partial "widget/menus.html" (dict "menuID" "main" "page" .) }}
  {{ partial "widget/recent-post.html" . }}
  {{ partial "widget/social-link.html" . }}
</aside>