<aside class="offcanvas offcanvas--responsive offcanvas--right" id="rightOffcanvas" aria-label="{{ i18n "sidebar_right" }}">
  <header class="offcanvas__header">
    <div class="offcanvas__readtime">{{ .ReadingTime }} Min</div>
    <button class="btn btn--icon" data-toggle-offcanvas="rightOffcanvas" title="{{ i18n "sidebar_right_close" }}" aria-label="{{ i18n "sidebar_right_close" }}">
      <i class="bi bi-x"></i>
    </button>
  </header>
  {{ if .IsPage }}
    {{ partial "widget/toc.html" . }}
    {{ partial "widget/related.html" . }}
  {{ else }}
    {{ partial "widget/pinned.html" . }}
    {{ partial "widget/taxonomy-featured.html" (dict "taxonomy" "tags" "context" .) }}
    {{ partial "widget/taxonomy-featured.html" (dict "taxonomy" "categories" "context" .) }}
  {{ end }}
  {{ partial "widget/switch-theme.html" . }}
  {{ partial "widget/font-adjust.html" . }}
  {{ partial "widget/switch-lang.html" . }}
</aside>