<!-- TEMPLATES -->
{{- define "collapsible_nav" -}}
  {{- if .Pages -}}
    {{- range .Pages -}}
      {{- if .IsSection -}}

        <!-- ==================== -->
        <li class="menu-left__item menu-left__item--folder" data-id="{{ .RelPermalink | urlize }}">
          <button class="btn btn--text btn--collapse">
            <i class="bi bi-folder2"></i>
            <span>{{ .LinkTitle }}</span>
          </button>
          <ul class="menu-left__list menu-left__list--collapse">
            {{- template "collapsible_nav" . -}}
          </ul>
        </li>
        <!-- ==================== -->

      {{- else if .IsPage -}}

        <!-- ==================== -->
        <li class="menu-left__item menu-left__item--file" data-id="{{ .RelPermalink | urlize }}">
          <a href="{{- .RelPermalink -}}">
            <i class="bi bi-file-earmark-text"></i>
            <span>{{- .LinkTitle -}}</span>
          </a>
        </li>
        <!-- ==================== -->

      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<!-- TEMPLATES -->