<aside class="sidebar sidebar--left">
  <header class="sidebar__header">
    <div class="sidebar__header-container">
      <a class="sidebar__title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      <div class="sidebar__actions">

        <button class="sidebar__button" aria-label="Go to Search Pages" onclick="window.location.href='{{ "search/" | relURL }}'">
          <i class="bi bi-search"></i>
        </button>

        <button class="sidebar__button" aria-label="Go to Home" onclick="window.location.href='{{ .Site.BaseURL }}'">
          <i class="bi bi-house"></i>
        </button>

        <button class="sidebar__button" id="switchTheme" aria-label="Switch themes Dark/Light">
          <i class="bi bi-moon"></i>
        </button>

        <button class="sidebar__button" id="leftClose" aria-label="Close Sidebar Left" >
          <i class="bi bi-x"></i>
        </button>
        
      </div>
    </div>
  </header>
  
  <nav class="menu-left">
    <button class="menu-left__button" id="toggleCollapseAll">
      <i class="bi bi-folder2"></i>
      <span>Root</span>
    </button>
    <ul class="menu-left__list">
      {{- template "collapsible_nav" .Site.Home -}}
    </ul>
  </nav>
</aside>