<aside class="sidebar sidebar--right">
  <header class="sidebar__header">
    <div class="sidebar__header-container">
      <div class="sidebar__title sidebar__title--small">{{ .Title }}</div>
      <button class="btn btn--icon sidebar__button" id="rightClose">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </header>
  
  <nav class="menu">
    {{- $related := .Site.RegularPages.Related . | first 20 -}}
    {{- if $related -}}
      <strong class="menu__title">Related:</strong>
      <ul class="menu__list">
        {{- range $related -}}
          <li class="menu__item">
            <a class="menu__link" href="{{ .RelPermalink }}">
              <i class="bi bi-link"></i>
              <span>{{ .LinkTitle }}</span>
            </a>
            <div class="card">
              {{ .Params.description }}
            </div>
          </li>
        {{- end -}}
      </ul>
    {{- else -}}
      <strong class="menu__title">Pinned:</strong>
      <ul class="menu__list">
        {{- range where .Site.RegularPages "Params.pinned" true -}}
          <li class="menu__item">
            <a class="menu__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
            <div class="card">
              {{ .Params.description }}
            </div>
          </li>
        {{- end -}}
      </ul>
    {{- end -}}
    
    <div class="menu__table-of-contents" id="tableOfContents">
      {{ .TableOfContents }}
    </div>
  </nav>
</aside>