<aside class="sidebar sidebar--right">
  <header class="sidebar__header">
    <div class="sidebar__header-container">
      <div class="sidebar__title sidebar__title--small">{{ .Title }}</div>
      <button class="sidebar__button" id="rightClose">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </header>
  
  <nav class="menu-right">
    {{- $related := .Site.RegularPages.Related . | first 20 -}}
    {{- if $related -}}
      <strong class="menu-right__title">Related:</strong>
      <ul class="menu-right__list">
        {{- range $related -}}
          <li class="menu-right__item">

            <a class="menu-right__link" href="{{ .RelPermalink }}">
              <div class="menu-right__card">
                <i class="bi bi-link"></i>
                <span>{{ .LinkTitle }}</span>
              </div>
            </a>
            
          </li>
        {{- end -}}
      </ul>
    {{- else -}}
      <strong class="menu-right__title">Pinned:</strong>
      <ul class="menu-right__list">
        {{- range where .Site.RegularPages "Params.pinned" true -}}
          <li class="menu-right__item">

            <a class="menu-right__link" href="{{ .RelPermalink }}">
              <div class="menu-right__card">
                <i class="bi bi-pin"></i>
                <span>{{ .LinkTitle }}</span>
              </div>
            </a>

          </li>
        {{- end -}}
      </ul>
    {{- end -}}
    
    <div class="menu-right__toc" id="tableOfContents">
      <strong class="menu-right__title">On This Page</strong>
      <ul>
        {{ .TableOfContents }}
      </ul>
    </div>
  </nav>
</aside>