@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.btn {
  @include m.flex-center;

  background-color: var(--bg-second);
  color: var(--text-second);
  border: 1px solid transparent;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-sm);

  @include m.transition(box-shadow, color, background-color, border-color, transform);

  &:is(:hover, :active, :focus-visible) {
    box-shadow: var(--shadow-md);
    background-color: var(--bg-third);
    color: var(--text-first);
    outline: none;
    border-color: var(--border-second);
    transform: translateY(-1px);
  }

  &--icon {
    font-size: v.$font__size--xl;
    width: 40px;
    height: 40px;

    .bi {
      @include m.flex-center;
    }
  }

  &--folder {
    gap: 0.5rem;
    width: 100%;
    justify-content: start;
    background: none;
    border-bottom: 1px dashed var(--border-first);

    &:hover {
      background-color: var(--bg-second);
    }
    a {
      color: var(--text-second);
    }
  }
}
