//=======================// BUTTON.SASS //=======================//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.btn {
  display: block;
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  padding: 0.75rem;
  background-color: transparent;
  color: var(--color-text-second);

  @include m.shadow(sm);
  @include m.transition(box-shadow, color, border-color);
  
  &:is(:hover, :active, :focus-visible){
    outline: none;
    color: var(--color-accent);
    border-color: var(--color-accent);
    @include m.shadow(md);
  }

  &--icon {
    padding: 0.5rem;
    .bi {
      @include m.flex-center;
      font-size: v.$font__size--2xl;
    }
  }

  &--search {
    font-size: v.$font__size--xs;
    padding-inline: 1rem;
    @include m.flex-center;
    gap: 1rem;
  }
}

//=======================// SPESIFIC DISPLAY BUTTON //=======================//
#leftSideToggle, 
#rightSideToggle,
#leftClose,
#rightClose {
  display: none;
}

@include m.max(xl) {
  #rightSideToggle,
  #rightClose {
    display: block;
  }
}

@include m.max(lg) {
  #leftSideToggle,
  #leftClose {
    display: block;
  }
}