@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.header,
.brand {
  @include m.flex-between();
  gap: 0.75rem;
}
.header {
  padding: 0.5rem 1rem;
  
  &--topbar {
    display: none;
    @include m.max(lg) {
      @include m.flex-between();
    }
  }
}
.brand {

  &__logo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
}