//=======================// HEADER.SASS //=======================//
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

//=======================// HEADER //=======================//
.header {
  padding: 0.25rem 1rem;
  max-height: 5rem;
  height: 5rem;

  &--sidebar {
    @include m.shadow(sm);
    background-color: var(--color-bg-second);
  }
}

.header,
.brand {
  @include m.flex-between();
  gap: 0.5rem;
}

//=======================// BRAND //=======================//
.brand {
  
  &__logo {
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--color-border);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      transition: 0.75s ease-in-out scale;
      &:hover {
        scale: 1.5;
      }
    }
  }

  &__text {
    line-height: 1.05;
  }

  &__title {
    font-size: v.$font__size--6xl;
    color: var(--color-text-second);
  }

  &__subtitle {
    font-style: normal;
    font-size: v.$font__size--sm;
    color: var(--color-accent);
  }
}

//=======================// BREADCRUMBS //=======================//
.breadcrumb {
  @include m.max(xl){
    display: none;
  }
  &__list {
    list-style: none;
    @include m.flex-center();
    padding: 0;
    margin: 0;
  }
  
  &__item {
    @include m.flex-center();
    
    &:not(:last-child)::after {
      content: "/";
      color: var(--color-text-second);
      margin-inline: 0.5rem;
      opacity: 0.5;
    }
  }
  
  &__link {
    display: block;
    font-weight: v.$font__weight--normal;
    font-size: v.$font__size--xs;
    color: var(--color-text);
    @include m.transition(background-color, color);
    
    &:hover {
      color: var(--color-text);
      text-decoration: underline;
      color: var(--color-accent);
    }
    
    &--active {
      color: var(--color-text-second);
      pointer-events: none;
    }
  }
}