@use '../abstract/mixins' as m;

.nav {
    overflow-y: auto;
    height: 100dvb;

    &--right-side {
        display: flex;
        flex-direction: column;
    }

    &__container {
        height: 100%;
    }

    &__title {
        @include m.shadow();
        display: block;
        padding: var(--size-2);
        background-color: var(--bg-alt);
    }
    
    &__list {
        list-style: none;
        position: relative;
        padding-left: var(--size-4);
    }
    
    &__item {
        position: relative;
    }

    &__link {
        @include m.ellipsis();
        display: block;
        padding: var(--size-1) var(--size-2);
    }

    &__list--collapse {
        display: none;

        &.collapsed {
            display: block;
        }
    }
}