/* noto-emoji-regular - emoji */
@font-face {
  font-display: swap;
  font-family: 'Noto Emoji';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-emoji-v53-emoji/noto-emoji-v53-emoji-regular.woff2') format('woff2');
}

/* noto-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/noto-sans-v39-latin/noto-sans-v39-latin-300.woff2') format('woff2');
}
/* noto-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v39-latin/noto-sans-v39-latin-regular.woff2') format('woff2');
}
/* noto-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-v39-latin/noto-sans-v39-latin-500.woff2') format('woff2');
}
/* noto-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/noto-sans-v39-latin/noto-sans-v39-latin-600.woff2') format('woff2');
}
/* noto-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-v39-latin/noto-sans-v39-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Noto Sans Display';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/noto-sans-display-v27-latin/noto-sans-display-v27-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Noto Sans Display';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-display-v27-latin/noto-sans-display-v27-latin-700.woff2') format('woff2');
}