//=======================// LAYOUT.SASS //=======================//
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

//=======================// BODY STYLES //=======================//
body {
  max-width: 100vw;
  min-height: 100dvb;
  overflow-x: hidden;
  position: relative;
  color: var(--color-text);
  background-color: var(--color-bg);
}

//=======================// MAIN LAYOUT GRID //=======================//
.layout {
  display: grid;
  gap: 1.5rem;
  grid-template: 
    "left top top" auto
    "left main right" 1fr
    "left bottom right" auto / 1fr 3fr 1fr;

  //=======================// SIDEBAR STYLES //=======================//
  &__left, &__right {
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100dvh;
    max-width: 100%;

    background-color: var(--color-bg);
  }

  //=======================// GRID AREA //=======================//
  &__left { 
    grid-area: left; 
    display: grid;
    grid-template-rows: auto 1fr auto;

    border-right: 1px solid var(--color-border);
    overflow-x: hidden;
  }

  &__top {grid-area: top;}
  &__right { grid-area: right; }
  &__main { grid-area: main; }
  &__bottom { grid-area: bottom; }

  //=======================// XL BREAKPOINT (1200px) //=======================//
  @include m.max(xl) {
    grid-template: 
      "left top" auto
      "left main" 1fr
      "left bottom" auto / 1fr 3fr;

    //=======================// RIGHT SIDEBAR TRANSITION //=======================//
    &__right {
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(100%);
      width: 320px;
      
      //=======================// ACTIVE STATE //=======================//
      &.active {
        transform: translateX(0);
      }
    }
  }

  //=======================// LG BREAKPOINT (992px) //=======================//
  @include m.max(lg) {
    grid-template: 
      "top" auto
      "main" 1fr
      "bottom" auto / 1fr;

    //=======================// LEFT SIDEBAR TRANSITION //=======================//
    &__left {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      width: 320px;
      
      //=======================// ACTIVE STATE //=======================//
      &.active {
        transform: translateX(0);
      }
    }
  }
}

//=======================// SECTION //=======================//
.section {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;

  @include m.min(sm) { max-width: 540px; }
  @include m.min(md) { max-width: 720px; }
  @include m.min(lg) { max-width: 960px; }
  @include m.min(xl) { max-width: 1140px; }
  @include m.min(xxl) { max-width: 1320px; }
}