@use '../abstracts/mixins' as m;

.layout {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "left top top"
        "left main right"
        "left bottom right";

    &__left {grid-area: left;}
    &__top {grid-area: top;}
    &__right{grid-area: right;}
    &__bottom{grid-area: bottom;}
}