// Importing variables and mixins
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-first) var(--bg-first);
  
  &:hover {
    scrollbar-color: var(--border-second) var(--bg-first);
  }
}

body { //============ GRID SETTING =============//
  max-width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;

  display: flex;
  align-items: stretch;
  justify-content: start;

  .offcanvas--left {
    flex-basis: 280px;
  }

  .main-area {
    flex-basis: 1;
    flex: 1;
    flex-basis: 0;
    overflow-x: hidden;

    width: 100%;
    max-width: 100vw;
    padding-right: calc(1rem * 0.5);
    padding-left: calc(1rem * 0.5);
    margin-right: auto;
    margin-left: auto;
    
    $container-max-widths: (
      md:   48em,
      lg:   62em,
      xl:   75em,
      xxl:  87.5em
    );

    @each $breakpoint, $max-width in $container-max-widths {
      @include m.min($breakpoint) {
        max-width: $max-width;
      }
    }

    @include m.max(lg){
      margin-bottom: 4.5rem;
    }
  }
}
