@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

:root {
  // Light theme colors
  --color-bg-body: #f9fafb;
  --color-bg-first: #f3f4f6;
  --color-bg-second: #e5e7eb;
  --color-bg-third: #d1d5db;

  --color-text-first: #111827;
  --color-text-second: #374151;
  --color-text-third: #4b5563;

  --color-accent-first: #1d4ed8;
  --color-accent-second: #2563eb;
  --color-accent-third: #3b82f6;

  --color-border: #e5e7eb;

  &[data-theme=dark] {
    // Dark theme colors
    --color-bg-body: #030712;
    --color-bg-first: #111827;
    --color-bg-second: #1f2937;
    --color-bg-third: #374151;

    --color-text-first: #f9fafb;
    --color-text-second: #d1d5db;
    --color-text-third: #9ca3af;

    --color-accent-first: #9333ea;
    --color-accent-second: #a855f7;
    --color-accent-third: #c084fc;

    --color-border: #374151;
  }
}