@use '../abstracts/variables' as v;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/mixins' as m;
@use "sass:color";

// TODO: Consider moving layout styles to a separate file: layout/_base.scss
.layout {
  max-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  background-color: v.$color__bg--body;
  color: v.$color__primary;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 20;
  background-color: v.$color__bg--primary;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  
  @include m.transition(transform, opacity, visibility);
  
  &--active {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
  }
}

// TODO: Consider moving header styles to a separate file: layout/_header.scss
.header {
  @include m.flex-between();
  @include m.shadow-sm();
  position: sticky;
  top: 0;
  max-height: 6rem;
  padding: 0.75rem 1rem;
  background-color: v.$color__bg--primary;
  border-bottom: 2px solid v.$color__border;
  z-index: 10;
}

// TODO: Consider moving content styles to a separate file: layout/_content.scss
.content {
  padding: 0.5rem;

  &__title {
    font-weight: v.$font__weight--bold;
  }
}