//=======================// SYNTAX HIGHLIGHT //=======================//
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

// Syntax highlighting
.highlight {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
}

.highlight[data-lang] {
  &::before, &::after {
    display: block;
    background-color: var(--color-bg-third);
    border: 1px solid var(--color-border);
    color: var(--color-text-second);
    font-family: bootstrap-icons;
    position: absolute;
    padding: 0.25rem;
    z-index: 1;
    top: 0;
    font-size: v.$font__size--md;
    font-weight: v.$font__weight--medium;
  }

  &::before {
    border-radius: 0.5rem 0.5rem 0 0;
    content: "\F2C6" " " attr(data-lang);
    left: 0;
    width: 100%;
  }

  &::after {
    border-radius: 0 0.5rem 0 0;
    content: "\F759" " " "Copy";
    cursor: pointer;
    right: 0;
    background-color: transparent;
    border-color: transparent;
  }
}

.bg, .chroma { 
  color: var(--color-text-second); 
  background-color: var(--color-bg-second); 

  font-family: v.$font__family--monospace;
  font-size: v.$font__size--xs;
  padding: 2rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  overflow-x: auto;
}

.chroma {
  .x, .cl, .n, .nb, .bp, .ni, .nl, .nn, .py, .nv, .vc, .vg, .vi, .vm, .p, .g, .gr, .gh, .go, .gp, .gt, .gl, .w { 
    color: var(--color-text-second); 
  }
  
  .err { 
    color: var(--code-error); 
    background-color: var(--code-error-bg); 
  }

  .lnlinks { 
    outline: none; 
    text-decoration: none; 
    color: inherit; 
  }

  .lntd, .lntable { 
    vertical-align: top; 
    padding: 0; 
    margin: 0; 
    border: 0; 
  }

  .hl { 
    background-color: var(--code-highlight); 
  }

  .lnt, .ln { 
    white-space: pre; 
    -webkit-user-select: none; 
    user-select: none; 
    margin-right: 0.4em; 
    padding: 0 0.4em 0 0.4em; 
    color: var(--code-line-number); 
  }

  .line { 
    display: flex; 
  }

  .k, .kc, .kd, .kp, .kr, .kt { 
    color: var(--code-keyword); 
  }
  .kn, .nt, .o, .ow { 
    color: var(--code-tag); 
  }

  .na, .nc, .nd, .ne, .nf, .nx, .gi { 
    color: var(--code-name); 
  }

  .l, .ld, .m, .mb, .mf, .mh, .mi, .il, .mo, .se { 
    color: var(--code-literal); 
  }
  
  .s, .sa, .sb, .sc, .dl, .sd, .s2, .sh, .si, .sx, .sr, .s1, .ss { 
    color: var(--code-string); 
  }

  .c, .ch, .cm, .c1, .cs, .cp, .cpf, .gu { 
    color: var(--code-comment); 
  }

  .ge { font-style: italic; }
  .gs { font-weight: bold; }
}