<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" data-theme="dark">
{{ partial "head/main.html" . }}
<body class="layout">
  {{ partial "left-sidebar.html" . }}
  <div class="main-area">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </div>
  
  {{ partial "offcanvas-left.html" . }}
  {{ partial "offcanvas-right.html" . }}
  
  {{ if .Store.Get "hasMermaid" }}
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
  {{ end }}
</body>
</html>