<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="layout">
    <div class="layout__sidebar layout__sidebar--left">
      {{ partial "left-side.html" . }}
    </div>
    <div class="layout__main">
      {{ partial "header.html" . }}
      {{ block "main" . }}{{ end }}
      {{ partial "footer.html" . }}
    </div>
    <div class="layout__sidebar layout__sidebar--right">
      {{ partial "right-side.html" . }}
    </div>
  </div>
</body>
</html>