<!DOCTYPE html>
<html 
lang="{{ site.Language.LanguageCode }}" 
dir="{{ or site.Language.LanguageDirection `ltr` }}" 
data-theme="dark">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="layout">
    <aside class="layout__left" id="leftSidebar">{{ partial "menu.html" (dict "menuID" "main" "page" .) }}</aside>
    <div class="layout__top">{{ partial "header.html" . }}</div>
    <main class="layout__main">{{ block "main" . }}{{ end }}</main>
    <footer class="layout__bottom">{{ partial "footer.html" . }}</footer>
    <aside class="layout__right" id="rightSidebar">{{ partial "right-side.html" . }}</aside>
  </div>
</body>
</html>