{{ define "main" }}
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  
  <section class="section">
    <h1 class="section__title">
      {{ .Title }}
    </h1>
  </section>
  
  <section class="section">
    <article class="markdown">
      {{ .Content }}
    </article>
  </section>
  
  <section class="section">
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
  </section>
  
  {{ if .Params.mathjax }}
  <style>
    mjx-container.MathJax {
      padding: 1rem;
      overflow-x: auto; 
      white-space: nowrap; 
      max-width: 100%;
    }  
  </style>
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['\\(', '\\)']],  // Inline math
        displayMath: [['\\[', '\\]'], ['$$', '$$']],  // Block math
      },
      svg: {
        fontCache: 'global' // Menggunakan cache untuk mempercepat rendering
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'], // Mencegah konflik dengan tag lain
      }
    };
  </script>
  <script async id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  {{ end }}
{{ end }}
