//=======================// MIXINS.SASS //=======================//
@use './variables' as v;
@use "sass:map";

//=======================// FLEX JUSTIFY //=======================//
@mixin flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

//=======================// TRANSITION //=======================//
@mixin transition($properties...) {
  transition: $properties, 0.3s ease-in-out;
}

//=======================// TEXT ELLIPSIS //=======================//
@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//=======================// SHADOW & TEXT SHADOW//=======================//
@mixin shadow($size: 'sm') {
  @if $size == 'sm' {
    box-shadow: inset 0 1px 1px 0 v.$shadow__color--sm, 0 1px 1px 0 v.$shadow__color--sm;
  } @else if $size == 'md' {
    box-shadow: inset 0 1px 2px 0 v.$shadow__color--md, 0 2px 3px -1px v.$shadow__color--md, 0 1px 2px -1px v.$shadow__color--md;
  } @else if $size == 'lg' {
    box-shadow: inset 0 2px 3px 0 v.$shadow__color--lg, 0 4px 6px -2px v.$shadow__color--lg, 0 2px 3px -1px v.$shadow__color--lg;
  } @else if $size == 'xl' {
    box-shadow: inset 0 3px 4px 0 v.$shadow__color--xl, 0 6px 8px -2px v.$shadow__color--xl, 0 3px 4px -1px v.$shadow__color--xl;
  } @else if $size == 'xxl' {
    box-shadow: inset 0 4px 6px 0 v.$shadow__color--2xl, 0 8px 12px -3px v.$shadow__color--2xl;
  }
}
@mixin text-shadow($size: 'sm') {
  @if $size == 'sm' {
    text-shadow: 0 1px 2px v.$shadow__color--sm;
  } @else if $size == 'md' {
    text-shadow: 0 2px 4px v.$shadow__color--md;
  } @else if $size == 'lg' {
    text-shadow: 0 4px 8px v.$shadow__color--lg;
  } @else if $size == 'xl' {
    text-shadow: 0 8px 16px v.$shadow__color--xl;
  } @else if $size == '2xl' {
    text-shadow: 0 12px 24px v.$shadow__color--2xl;
  }
}

//=======================// BREAKPOINTS //=======================//
@mixin min($breakpoint) {
  @if map.has-key(v.$breakpoints, $breakpoint) {
    @media screen and (min-width: map.get(v.$breakpoints, $breakpoint)) {
      @content;
    }
  } @else if type-of($breakpoint) == number {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found. Available breakpoints: #{map-keys(v.$breakpoints)}";
  }
}

@mixin max($breakpoint) {
  @if map.has-key(v.$breakpoints, $breakpoint) {
    @media screen and (max-width: map.get(v.$breakpoints, $breakpoint)) {
      @content;
    }
  } @else if type-of($breakpoint) == number {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found. Available breakpoints: #{map-keys(v.$breakpoints)}";
  }
}

@mixin between($from, $to) {
  @if map.has-key(v.$breakpoints, $from) and map.has-key(v.$breakpoints, $to) {
    @media screen and (min-width: map.get(v.$breakpoints, $from)) and (max-width: map.get(v.$breakpoints, $to)) {
      @content;
    }
  } @else if type-of($from) == number and type-of($to) == number {
    @media screen and (min-width: $from) and (max-width: $to) {
      @content;
    }
  } @else {
    @warn "One or both breakpoints not found. Available breakpoints: #{map-keys(v.$breakpoints)}";
  }
}