@use '../abstract/mixins' as m;

.btn {
    color: var(--cl-btn);

    &--icon {
        font-size: var(--fs-7xl);
    }

    &--text {
        font-family: var(--font-nav);
        font-size: var(--fs-base);
    }
}