@use '../abstract/mixins' as m;

.tag-cloud {
    @include m.my(var(--size-5));
    @include m.shadow;
    @include m.inset-shadow;
    padding: var(--size-4);
    background: var(--bg-alt);
    border-radius: var(--size-3);

    &__container {
        @include m.my(var(--size-5));
        @include m.shadow;
        @include m.inset-shadow;
        flex: 1 1 45%;
        background: var(--bg-default);
        padding: var(--size-4);
        border-radius: var(--size-3);
    }

    &__title {
        font-family: var(--heading);
        font-size: var(--fs-2xl);
        color: var(--cl-heading);
        margin-bottom: var(--size-3);
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-2);
    }

    &__item {
        display: inline-block;
    }

    &__link {
        text-decoration: none;
        font-size: calc(var(--fs-sm) + (var(--fs-sm) * attr(data-weight integer)));
        font-family: var(--link);
        color: var(--link-default);
        padding: var(--size-2) var(--size-3);
        border-radius: var(--size-2);
        transition: background 0.3s, color 0.3s;
        display: inline-block;
    
        &:hover {
            background: var(--link-hover);
            color: var(--cl-text-highlight);
            text-decoration: none;
        }
    }
}