{{ range (.Paginate .Pages).Pages }}
  <article class="card">
    <header class="card__header">
      <img 
        src="{{ .Params.image | default "https://placehold.co/1090x720" | relURL }}" 
        alt="{{ .Title }}" 
        class="card__image"        
        loading="lazy"
        >
    </header>
    <section class="card__body">
      <h3 class="card__title">{{ .Title }}</h3>
      {{ with .Params.description }}
        <p class="card__description">{{ . }}</p>
      {{ end }}
    </section>
    <footer class="card__footer">
      <a 
        href="{{ .RelPermalink }}" 
        aria-label="{{ $.Title }}" 
        title="{{ $.Title }}" 
        class="btn btn--cloud">
          Read More
      </a>
      <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .RelPermalink }}" target="_blank" class="btn btn--icon btn--circle">
        <i class="bi bi-twitter-x"></i>
      </a>
      
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .RelPermalink }}" target="_blank" class="btn btn--icon btn--circle">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://wa.me/?text={{ .Title }}%20{{ .RelPermalink }}" target="_blank" class="btn btn--icon btn--circle">
        <i class="bi bi-whatsapp"></i>
      </a>
    </footer>
  </article>
{{ end }}