<nav aria-label="breadcrumb" class="breadcrumb">
  <ul class="breadcrumb__list">
    {{ range .Ancestors.Reverse }}
      <li class="breadcrumb__item">
        <a 
        href="{{ .RelPermalink }}"
        class="breadcrumb__link">
          {{ .LinkTitle }}
        </a>
      </li>
    {{ end }}
    <li class="breadcrumb__item">
      <a 
      aria-current="page" 
      href="{{ .RelPermalink }}"
      class="breadcrumb__link breadcrumb__link--active">
        {{ .LinkTitle }}
      </a>
    </li>
  </ul>
</nav>