<header class="header header--{{ .type }}">
  <figure class="brand">
    <div class="brand__logo">
      <img src="{{ site.Params.author.logo | relURL }}" alt="Logo Image {{ site.Title }}">
    </div>
    <figcaption class="brand__caption">
      <h1 class="brand__title">{{ site.Title }}</h1>
      <em class="brand__subtitle">{{ site.Params.author.subtitle }}</em>
    </figcaption>
  </figure>

  {{ if eq .type "topbar" }}
    <div class="header__button">
      <a href="{{ "search.html" | relURL }}" class="btn btn--icon btn--search">
        <span>Tap to search</span>
        <i class="bi bi-search"></i>
      </a>
      <button class="btn btn--icon btn--hamburger" id="sidebarToggle">
        <i class="bi bi-list"></i>
      </button>
    </div>
  {{ end }}

  {{ if eq .type "sidebar" }}
    <div class="header__button">
      <button class="btn btn--icon btn--nav" id="switchTheme" data-title="Switch Theme">
        <i class="bi bi-moon-stars"></i>
      </button>
      <button class="btn btn--icon btn--close" id="sidebarClose">
        <i class="bi bi-x"></i>
      </button>
    </div>
  {{ end }}
</header>