<header class="header header--topbar">
  <nav aria-label="breadcrumb" class="breadcrumb">
    <ul class="breadcrumb__list">
      {{ range .Ancestors.Reverse }}
        <li class="breadcrumb__item">
          <a 
          href="{{ .RelPermalink }}"
          class="breadcrumb__link">
            <span>{{ .LinkTitle }}</span>
          </a>
        </li>
      {{ end }}
      <li class="breadcrumb__item">
        <a 
        aria-current="page" 
        href="{{ .RelPermalink }}"
        class="breadcrumb__link breadcrumb__link--active">
          <span>{{ .LinkTitle }}</span>
        </a>
      </li>
    </ul>
  </nav>
  
  <button 
  class="btn btn--icon" 
  id="leftSideToggle"
  title="Open Left Sidebar"
  aria-label="Button to open Left Sidebar">
    <i class="bi bi-list"></i>
  </button>
  
  <a 
  href="{{ "search.html" | relURL }}" 
  class="btn btn--icon btn--search"
  title="Search"
  aria-label="Search button">
    <span>Tap to search</span>
    <i class="bi bi-search"></i>
  </a>
  
  <button 
  class="btn btn--icon"
  id="rightSideToggle"
  title="Open Right Sidebar"
  aria-label="Button to open Right Sidebar">
    <i class="bi bi-book"></i>
  </button>
</header>