<aside class="sidebar">
  <header class="sidebar__header">

    <figure class="logo">
      <img class="logo__img" src="" alt="">
      <figcaption class="logo__caption">
        <div class="logo__title">{{ .Site.Title }}</div>
        <small class="logo__slogan">{{ .Site.Params.slogan }}</small>
      </figcaption>
    </figure>

    <div class="sidebar__action">
      
      <a class="sidebar__button" href="">
        <i class="bi bi-home"></i>
      </a>
      <button class="sidebar__button" id="switchTheme">
        <i class="bi bi-x"></i>
      </button>
      <button class="sidebar__button" id="leftClose">
        <i class="bi bi-x"></i>
      </button>
    </div>

  </header>

  <nav class="sidebar__nav">

  </nav>

  <footer class="sidebar__footer">

  </footer>
</aside>