<aside class="offcanvas offcanvas--responsive offcanvas--left" id="leftOffcanvas">
  <header class="offcanvas__header">
    <a href="{{ site.BaseURL | relURL }}" class="brand">{{ site.Params.name }}</a>

    <button 
    class="btn btn--icon" 
    data-toggle-offcanvas="leftOffcanvas" 
    title="Close Left Sidebar" 
    aria-label="Button to close left sidebar">
      <i class="bi bi-x"></i>
    </button>
  </header>
  
  {{ partial "components/search.html" . }}
  {{ partial "components/menus.html" (dict "menuID" "main" "page" .) }}
  {{ partial "components/recent-post.html" . }}
  {{ partial "components/social-link.html" . }}
</aside>