<aside class="sidebar">
  
	<header class="sidebar__header">

		<div class="sidebar__btn-container">
			<button class="sidebar__btn" id="switchTheme">
				<i class="bi bi-moon"></i>
			</button>
	
			<button class="sidebar__btn" id="sidebarClose">
				<i class="bi bi-x"></i>
			</button>
		</div>

		<figure class="logo">

			<img class="logo__img" src="https://placehold.co/80" alt="{{ .Site.Title }} site logo image">

			<figcaption class="logo__caption">
				<p class="logo__title">{{ .Site.Title }}</p>
				<p class="logo__subtitle">{{ .Params.Subtitle }}</p>
			</figcaption>

		</figure>
	  
		<nav class="social">

			<ul class="social__list">
				{{ range site.Params.socialMedia }}
				
					<li class="social__item">
						<a 
						class="social__link" 
						aria-label="{{ printf "Go to %s" .social | safeHTMLAttr }}"
						title="{{ printf "Go to %s" .social | safeHTMLAttr }}"
						href="{{ .url | safeURL }}" 
						target="_blank" 
						rel="noopener noreferrer"
						>
							<i class="bi {{ .icon }}"></i>
						</a>
					</li>
				
				{{ end }}
			</ul>
		</nav>
	  
	</header>
	
	<nav class="menu">

		<div class="menu__label">Main Menu</div>
		<ul class="menu__list">
			{{ range .Site.Menus.main }}
				{{ if and (ge .Weight 1) (le .Weight 4) }}
					<li class="menu__item">
						<a class="menu__link" href="{{ .URL }}">
							<i class="{{ .Params.icon }}"></i>
							<span>{{ .Name }}</span>
						</a>
					</li>
				{{ end }}
			{{ end }}
		</ul>

		<div class="menu__label">Blog And Article</div>
		<ul class="menu__list">
			{{ range .Site.Menus.main }}
				{{ if and (ge .Weight 5) (le .Weight 9) }}
					<li class="menu__item">
						<a class="menu__link" href="{{ .URL }}">
							<i class="{{ .Params.icon }}"></i>
							<span>{{ .Name }}</span>
						</a>
					</li>
				{{ end }}
			{{ end }}
		</ul>

	</nav>
  
</aside>