<aside class="offcanvas offcanvas--left" id="leftOffcanvas">
  <header class="offcanvas__header">
    {{ partial "components/search-form.html" . }}
    <div class="offcanvas__wrapper-button">
      <button 
      class="btn btn--icon" 
      data-toggle-offcanvas="leftOffcanvas" 
      title="Close Left Sidebar" 
      aria-label="Button to close left sidebar">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </header>
  {{ partial "components/search.html" . }}
  {{ partial "components/menus.html" (dict "menuID" "main" "page" .) }}
  {{ if site.Params.navigation.improvement }}
    {{ partial "components/improvement.html" . }}
  {{ end }}
  {{ partial "components/switch-lang.html" . }}
  {{ partial "components/font-adjust.html" . }}
  {{ if .IsPage }}
    {{ partial "components/toc.html" . }}
    {{ partial "components/related.html" . }}
  {{ end }}
  {{ partial "components/social-link.html" . }}
</aside>
