<aside class="sidebar">
  
  <header class="sidebar__header">
    
    <figure class="logo">
      <img 
      class="logo__img"
      src="https://placehold.co/80"
      alt="{{ .Site.Title }} site logo image">
      <figcaption class="logo__caption">
        <p class="logo__title">{{ .Site.Title }}</p>
        <p class="logo__subtitle">{{ .Site.Subtitle }}</p>
      </figcaption>
    </figure>
    
    <nav class="social">
      <ul class="social__list">
        {{ range site.Params.socialMedia }}
        
        <li class="social__item">
          <a 
          class="social__link" 
          aria-label="{{ printf "Go to %s" .social | safeHTMLAttr }}"
          title="{{ printf "Go to %s" .social | safeHTMLAttr }}"
          href="{{ .url | safeURL }}" 
          target="_blank" 
          rel="noopener noreferrer"
          >
            <i class="bi {{ .icon }}"></i>
          </a>
        </li>
        
        {{ end }}
      </ul>
    </nav>
    
  </header>
  
  <nav class="menu">
    
    <div class="menu__label">Main Menu</div>
    
    <ul class="menu__list">
      {{ range .Site.Menus.main }}
        <li class="menu__item">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
    
  </nav>
  
</aside>