{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<!-- ---------- -->
<header class="header header--sidebar">
  <a href="{{ site.BaseURL | relURL }}" class="brand">
    <section class="brand__logo">
      <img src="{{ site.Params.author.logo | relURL }}" alt="Logo Image {{ site.Title }}">
    </section>
    <section class="brand__text">
      <h1 class="brand__title">{{ site.Params.author.name }}</h1>
      <em class="brand__subtitle">{{ site.Params.author.subtitle }}</em>
    </section>
  </a>

  <button 
  class="btn btn--icon" 
  id="leftClose"
  title="Close Sidebar"
  aria-label="Button to close the Sidebar">
    <i class="bi bi-x"></i>
  </button>
</header>

<nav class="nav">
  <ul class="nav__list">
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </ul>
</nav>

<nav class="nav">
  <ul class="nav__list nav__list--row">
    {{- with site.Params.social }}
      {{- range $key, $value := . }}
        <li class="nav__item">
          <a href="{{ $value.url }}" class="btn btn--icon">
            <i class="bi {{ $value.icon }}"></i>
          </a>
        </li>
      {{- end }}
    {{- end }}
    <li class="nav__item">
      <button 
      class="btn btn--icon" 
      id="switchTheme" 
      title="Switch Theme"
      aria-label="Switch Theme">
        <i class="bi bi-moon-stars"></i>
      </button>
    </li>
  </ul>
</nav>
<!-- ---------- -->
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL "class" "nav__link" }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "nav__link nav__link--active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "nav__link nav__link--ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li class="nav__item">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >
        {{- with .Pre }}
          {{ . | safeHTML }}
        {{- end }}
        <span>{{ $name }}</span>
      </a>
      {{- with .Children }}
        <ul class="nav__list">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
