{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <!-- |===========| START: Brand Section |===========| -->
  <header class="header header--left-side">
    <a href="{{ site.BaseURL | relURL }}" class="brand">
      <img class="brand__logo" src="{{ site.Params.author.logo | relURL }}" alt="Logo Image {{ site.Title }}">
      <h1 class="brand__title">{{ site.Params.author.name }}</h1>
      <p class="brand__description">{{ site.Params.author.description }}</p>
    </a>

    <div class="header__button">
      <button class="btn btn--icon" id="switchTheme" title="Switch Theme" aria-label="Switch Theme">
        <i class="bi bi-moon-stars"></i>
      </button>
      <button class="btn btn--icon" data-offcanvas-toggle="leftSide"title="Close Sidebar"aria-label="Button to close the Sidebar">
          <i class="bi bi-x"></i>
      </button>
    </div>
  </header>
  <!-- |===========| END: Brand Section |===========| -->

  <!-- |===========| START: Navigation Menu Section |===========| -->
  <nav class="nav">
    <ul class="nav__list" id="mainMenu">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
  <!-- |===========| END: Navigation Menu Section |===========| -->
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL "class" "nav__link nav__link--flex nav__link--menu" }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "nav__link nav__link--active nav__link--flex nav__link--menu" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "nav__link nav__link--ancestor nav__link--flex nav__link--menu" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li class="nav__item">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >
        {{- with .Pre }}
          {{ . | safeHTML }}
        {{- end }}
        <span>{{ $name }}</span>
      </a>
      {{- with .Children }}
        <ul class="nav__list">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}