<aside class="offcanvas offcanvas--global offcanvas--global-right" id="globalOffcanvasRight">
  <header class="offcanvas__header">
    <button
    class="btn btn--icon"
    data-toggle-offcanvas="globalOffcanvasRight"
    title="Close Right Offcanvas"
    aria-label="Button to Close Right Offcanvas">
      <i class="bi bi-x"></i>
    </button>
  </header>

  {{ if .IsPage }}
    {{ partial "components/toc.html" . }}
    {{ partial "components/related.html" . }}
  {{ end }}
  {{ partial "components/pinned.html" . }}
  {{ partial "components/recent-post.html" . }}
  {{ range site.Params.taxonomies_featured }}
    {{ partial "components/taxonomy-featured.html" (dict "taxonomy" . "context" $) }}
  {{ end }}
</aside>