<aside class="offcanvas offcanvas--global offcanvas--global-right" id="globalOffcanvasRight">
  <header class="offcanvas__header">
    <button
    class="btn btn--icon"
    data-toggle-offcanvas="globalOffcanvasRight"
    title="Close Right Offcanvas"
    aria-label="Button to Close Right Offcanvas">
      <i class="bi bi-x"></i>
    </button>
  </header>
  <div class="discussion">
    <script src="https://giscus.app/client.js"
      data-repo="wumbojb/my-notes-demo"
      data-repo-id="R_kgDOORBoTw"
      data-category="General"
      data-category-id="DIC_kwDOORBoT84CoraK"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="1"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async>
    </script>
  </div>
</aside>