<aside class="offcanvas offcanvas--global offcanvas--global-right" id="globalOffcanvasRight">
  <header class="offcanvas__header">
    <button
    class="btn btn--icon"
    data-toggle-offcanvas="globalOffcanvasRight"
    title="Close Right Offcanvas"
    aria-label="Button to Close Right Offcanvas">
      <i class="bi bi-x"></i>
    </button>
  </header>
  <div class="editor" id="config-data" data-github-repo="{{- site.Params.github_repo -}}" data-branch="main" data-folder="content">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css"/>
    <script src="{{ "js/easymde.min.js" | relURL }}"></script>
    <form id="uploadForm">
      <label for="filename">Nama File (contoh: catatan.md, atau folder/file.md):</label><br />
      <input type="text" id="filename" required /><br /><br />
      <label for="editor">Isi Konten:</label><br/>
      <textarea id="editor"></textarea><br/><br/>
      <button class="btn" type="submit" id="btnNew">🚀 Buat Baru</button>
    </form>
  </div>
</aside>