<button 
class="btn btn--icon" 
id="rightClose"
title="Close Sidebar"
aria-label="Button to close the Sidebar">
  <i class="bi bi-x"></i>
</button>
{{ if .IsPage }}
  <nav class="nav nav--toc">
    <h4 class="nav__label">
      <i class="bi bi-list-task"></i>
      <span>Table of Contents</span>
    </h4>
    {{ $toc := .TableOfContents }}
    {{ $toc := replaceRE `<ul>` `<ul class="nav__list nav__list--toc">` $toc }}
    {{ $toc := replaceRE `<li>` `<li class="nav__item nav__item--toc">` $toc }}
    {{ $toc := replaceRE `<a href=` `<a class="nav__link nav__link--pinned nav__link--toc" href=` $toc }}
    <div class="nav__toc" id="tableOfContents">
      {{ $toc | safeHTML }}
    </div>
  </nav>
{{ else }}
  {{ $pinned := where .Site.RegularPages "Params.pinned" true | first 5 }}
  {{ if $pinned }}
    <nav class="nav">
      <h4 class="nav__label">
        <i class="bi bi-pin-angle-fill"></i>
        <span>Pinned</span>
      </h4>

      <ul class="nav__list">
        {{ range $pinned }}
        <li class="nav__item">
          <a 
            href="{{ .RelPermalink }}"
            class="nav__link nav__link--pinned">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}

  {{ $recent := .Site.RegularPages | first 5 }}
  {{ if $recent }}
    <nav class="nav">
      <h4 class="nav__label">
        <i class="bi bi-clock-history"></i>
        <span>Recent Changes</span>
      </h4>

      <ul class="nav__list">
        {{ range $recent }}
        <li class="nav__item">
          <a 
            href="{{ .RelPermalink }}"
            class="nav__link nav__link--pinned">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
{{ end }}

<!-- Start of Selection -->
{{ if .IsPage }}
  {{ if .Params.tags }}
  <nav class="nav">
    <h4 class="nav__label">
      <i class="bi bi-tags"></i>
      <span>Tags</span>
    </h4>
    <ul class="nav__list">
      {{ range .Params.tags }}
      <li class="nav__item">
        <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}" class="nav__link nav__link--pinned">
          {{ . }}
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}

  {{ if .Params.categories }}
  <nav class="nav">
    <h4 class="nav__label">
      <i class="bi bi-grid"></i>
      <span>Categories</span>
    </h4>
    <ul class="nav__list">
      {{ range .Params.categories }}
      <li class="nav__item">
        <a href="{{ "categories/" | relLangURL }}{{ . | urlize }}" class="nav__link nav__link--pinned">
          {{ . }}
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
{{ else }}
  {{ $tags := .Site.Taxonomies.tags }}
  {{ $categories := .Site.Taxonomies.categories }}

  {{ $topTags := $tags.ByCount | first 5 }}
  {{ $topCategories := $categories.ByCount | first 5 }}

  <nav class="nav">
    <h4 class="nav__label">
      <i class="bi bi-tags"></i>
      <span>Top Tags</span>
    </h4>
    <ul class="nav__list">
      {{ range $topTags }}
      <li class="nav__item">
        <a href="{{ .Page.Permalink }}" class="nav__link nav__link--pinned">
          {{ .Term }} ({{ .Count }})
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>

  <nav class="nav">
    <h4 class="nav__label">
      <i class="bi bi-grid"></i>
      <span>Top Categories</span>
    </h4>
    <ul class="nav__list">
      {{ range $topCategories }}
      <li class="nav__item">
        <a href="{{ .Page.Permalink }}" class="nav__link nav__link--pinned">
          {{ .Term }} ({{ .Count }})
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
<!-- End of Selection -->
