<aside class="offcanvas offcanvas--responsive offcanvas--right" id="rightOffcanvas">
  <header class="offcanvas__header">

    {{ with .File }}
      <a 
      class="btn btn--icon"
      href="https://github.com/masputrawae/official/edit/main/content/{{ .Path }}" 
      target="_blank"
      title="Edit"
      aria-label="Edit Content"
      rel="noopener noreferrer nofollow">
        <i class="bi bi-pencil-square"></i>
      </a>
    {{ end }}

    <div class="offcanvas__button-wrapper">
      <button 
      class="btn btn--icon"
      data-theme-toggle="switchTheme"
      title="Switch Themes" 
      aria-label="Button to Switch Themes">
        <i class="bi bi-moon-stars"></i>
      </button>

      {{ partial "components/switch-lang.html" . }}
      
      <button
      class="btn btn--icon"
      data-toggle-offcanvas="rightOffcanvas"
      title="Close Right Offcanvas"
      aria-label="Button to Close Right Offcanvas">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </header>
  {{ if .IsPage }}
    {{ partial "components/toc.html" . }}
    {{ partial "components/related.html" . }}
  {{ else }}
    {{ partial "components/pinned.html" . }}
    {{ partial "components/taxonomy-featured.html" (dict "taxonomy" "tags" "context" .) }}
    {{ partial "components/taxonomy-featured.html" (dict "taxonomy" "categories" "context" .) }}
  {{ end }}
</aside>