<header class="header">
  <button 
    class="btn btn--icon" 
    data-offcanvas-toggle="leftSide"
    title="Open Left Sidebar"
    aria-label="Button to open Left Sidebar">
      <i class="bi bi-menu-button-wide"></i>
  </button>

  <a href="{{ site.BaseURL | relURL }}" class="header__title">
    <h1>{{ site.Params.author.name }}</h1>
  </a>
  
  <button 
    class="btn btn--icon" 
    data-offcanvas-toggle="rightSide"
    title="Open Right Sidebar"
    aria-label="Button to open Right Sidebar">
      <i class="bi bi-book"></i>
  </button>
</header>