@use '../abstract/mixins' as m;

.tag-cloud {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    padding: var(--size-4);
    background: var(--bg-card);
    border-radius: var(--size-2);

    &__container {
        padding: var(--size-3);
        border: var(--border-1) solid var(--cl-border);
        border-radius: var(--size-2);
        background: var(--bg-alt);
    }

    &__title {
        font-family: var(--font-heading);
        font-size: var(--fs-7xl);
        color: var(--cl-text);
        margin-bottom: var(--size-2);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-2);
        padding: 0;
        list-style: none;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        @include m.shadow;
        display: inline-flex;
        align-items: center;
        gap: var(--size-1);
        font-family: var(--font-link);
        font-size: var(--fs-sm);
        text-decoration: none;
        color: var(--cl-accent);
        padding: var(--size-2) var(--size-3);
        border: var(--border-1) solid var(--cl-border);
        border-radius: var(--size-2);
        background: var(--bg-default);
        transition: all 0.3s ease;
    }

    &__link:hover {
        background: var(--link-hover);
        text-decoration: none;
        color: var(--bg-default);
    }
}