@use '../abstract/mixins' as m;

.nav {
    margin-bottom: var(--size-5);
    &--right-side {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100dvb;
        overflow: hidden;
    }

    &__title {
        flex-shrink: 0;
        background-color: var(--bg-alt);
        padding: var(--size-3);
    }

    &__list {
        list-style-type: none;
        padding-left: var(--size-1);
        position: relative;

        &--collapse {
            display: none;

            &.collapsed {
                display: block;
            }
        }

        &--overflow {
            overflow-y: auto;
            flex: 1;
            min-height: 0;
        }
    }

    &__item {
        position: relative;
        padding-left: var(--size-5);
        padding-top: var(--size-2);

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background-color: var(--cl-border);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 15px;
            width: 15px;
            height: 1px;
            background-color: var(--cl-border);
        }

        &:last-child::before {
            height: 15px;
        }
    }
    
    &__link {
        @include m.ellipsis;
        font-size: var(--fs-lg);
        color: var(--cl-text);
        display: block;
        text-decoration: none;
        font-family: var(--font-nav);
        font-weight: normal;
        transition: color 0.3s ease-in-out;

        .bi {
            color: var(--cl-accent);
        }

        &:hover {
            color: var(--link-hover);
        }

        &:active {
            color: var(--link-active);
        }

        &:focus {
            color: var(--link-focus);
        }
    }
}