@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.header {
  @include m.flex-between;
  gap: 1rem;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0 1rem;
  height: 4.5rem;
  z-index: 50;

  .btn[data-toggle-offcanvas=leftOffcanvas] {
    display: none;

    @include m.max(lg){
      display: flex;
    }
  }

  &__title {
    display: none;
    
    @include m.max(lg){
      display: flex;
    }
  }

  @include m.max(lg){
    width: 100%;
    background-color: var(--bg-second);
  }
}