@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.header {
  display: none;

  @include m.max(lg) {
    position: sticky;
    top: 0;

    @include m.shadow(xl);
    background-color: var(--color-bg-second);
    border: 3px solid var(--color-bg-first);
    border-radius: 0.25rem;
    padding: 1rem;

    @include m.flex-between();

    &__title {
      font-size: v.$font__size--7xl;
      font-weight: v.$font__weight--semi-bold;
    }
  }
}