@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.main {
  display: block;

  &__layout {

    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
  }

  &__title {
    font-size: v.$font__size--2xl;
    display: block;
    margin: 1rem;
    border-bottom: 1px solid var(--border-first);
  }
}

.hero {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-sm);

  &__social-link {
    @include m.flex-center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}