$themes: (
    dark: (
        bg: (
            default: #0f0f17,
            alt: #171722,
            card: #1e1e2e,
            highlight: #0077ff,
        ),
        
        cl: (
            accent: #00ffcc,
            text: #ececec,
            highlight: #00aaff,
            muted: #a0a0b0,
            border: #333344,
        ),
        
        link: (
            hover: #33ffd1,
            active: #00bfa5,
            focus: #66fff5,
        ),
        
        status: (
            success: #00ff99,
            tips: #00ccff,
            info: #3399ff,
            warning: #ffcc00,
            danger: #ff0000,
            error: #c70028,
        ),

        code: (
            bg: #191926,
            text: #ffffff,
            comment: #6a6a8e,
            keywoard: #ff0077,
            string: #00ff99,
            function: #00aaff,
            operator: #ffcc00,
            number: #ff6600,
            highlight-bg: #333355,
            line-number: #555577,
        ),
    ),
    
    light: (
        bg: (
            default: #f5faff,
            alt: #e6f0ff,
            card: #ddeaff,
            highlight: #0077ff,
        ),
        
        cl: (
            accent: #0055cc,
            text: #1a1a2e,
            highlight: #0077ff,
            muted: #666688,
            border: #99aacd,
        ),
        
        link: (
            hover: #3388ff, 
            active: #0044aa,
            focus: #66aaff, 
        ),
        
        status: (
            success: #009966,
            tips: #0088cc,
            info: #0055cc,
            warning: #ff6200,
            danger: #cc3333,
            error: #cc0000,
        ),

        code: (
            bg: #d6e5ff,
            text: #1a1a2e,
            comment: #666688,
            keywoard: #cc0099,
            string: #009966,
            function: #0055cc,
            operator: #9f0000,
            number: #ff0000,
            highlight-bg: #ccd9ff,
            line-number: #99aacd,
        ),
    ),
);
