@use '../abstract/breakpoint' as bp;
@use '../abstract/mixins' as m;

.footer {
    padding: 5rem;
    text-align: center;
    background-color: var(--bg-default);
    border-top: var(--border-1) solid var(--cl-border);
    
    &__nav {
        @include m.my(var(--size-5));
        @include m.flex-justify(center, center, var(--size-5));
        list-style: none;
        padding: 0;
    }

    &__link {
        color: var(--cl-text);

        &:hover {
            color: var(--cl-accent);
        }
    }

    .bi {
        font-size: var(--fs-7xl);
    }
}