@use '../abstract/breakpoint' as bp;
@use '../abstract/mixins' as m;

main {
    padding: var(--size-2);
    margin: var(--size-2);
}

.content {
    // SEARCH
    &__button {
        @include m.btn-secondary();
    }

    &__form {
        @include m.flex-justify(space-between, center, var(--size-1));
        @include m.my(var(--size-3));
    }

    &__input {
        @include m.width-height(100%, 2rem);
        @include m.px(var(--size-2));
        @include m.shadow;
        @include m.inset-shadow;
        background-color: var(--bg-secondary);
        border: var(--border-1) solid var(--cl-border);
        border-radius: var(--size-1);
        color: var(--cl-text);

        &:hover {
            border-color: var(--cl-primary);
        }

        &:focus {
            border-color: var(--status-focus);
            outline: none;
        }
    }

    // PAGINATION & CARD PAGINATION
    &__pagination-card {
        padding: var(--size-5);
        @include bp.min-width(lg){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: var(--size-4);
        }
    }
  
    &__card {
        @include m.shadow;
        @include m.inset-shadow;
        @include m.my(var(--size-5));
        background-color: var(--bg-alt);
        border-radius: var(--size-3);
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        @include bp.min-width(lg){
            @include m.my(0px);
        }
    
        &:hover {
            transform: translateY(-5px);
        }
    }
  
    &__card-img {
        border-radius: var(--size-5);
        padding: var(--size-3);
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
  
    &__card-body {
        @include m.shadow;
        @include m.inset-shadow;
        border-radius: var(--size-2);
        margin: var(--size-4);
        padding: var(--size-3);
        background-color: var(--bg-default);
    }
  
    &__card-title {
        font-size: var(--fs-2xl);
        font-weight: bold;
        margin-bottom: var(--size-2);
        color: var(--cl-heading);
        font-family: var(--title);
    }
  
    &__card-description {
        font-size: var(--fs-base);
        color: var(--cl-text);
        margin-bottom: var(--size-3);
        font-family: var(--article);
    }
  
    &__card-read-more {
        display: inline-block;
        text-decoration: none;
        background-color: var(--link-default);
        color: var(--cl-text-highlight);
        padding: var(--size-2) var(--size-4);
        border-radius: var(--size-2);
        font-family: var(--link);
        transition: background-color 0.3s;
    
        &:hover {
            text-decoration: none;
            background: var(--link-hover);
            color: var(--cl-text-highlight);
        }
    }

    &__pagination-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--size-4);
        background: var(--bg-alt);
        border-radius: var(--size-3);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .pagination {
        display: flex;
        list-style: none;
        gap: var(--size-2);
        padding: 0;
        margin: 0;
    }
    
    .page-item {
        &.disabled .page-link {
            color: var(--cl-muted);
            cursor: not-allowed;
        }
    
        &.active .page-link {
            font-weight: bold;
            background: var(--link-active);
            color: var(--cl-text-highlight);
            border-radius: var(--size-2);
        }
    }
    
    .page-link {
        text-decoration: none;
        font-size: var(--fs-base);
        font-family: var(--link);
        color: var(--link-default);
        padding: var(--size-2) var(--size-3);
        border-radius: var(--size-2);
        transition: background 0.3s, color 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
    
        &:hover {
            background: var(--link-hover);
            color: var(--cl-text-highlight);
        }
    }
}