@use '../abstract/breakpoint' as bp;
@use '../abstract/mixins' as m;

#leftClose{
    @include bp.min-width(lg){
        display: none;
    }
}

.sidebar {
    z-index: 10;
    background-color: var(--bg-default);
    padding: 0 var(--size-2);
    overflow-y: auto;
    
    &__button {
        @include m.width-height(30px, 30px);
        border-radius: var(--size-1);
        font-size: var(--fs-xl);
        border: var(--border-1) solid var(--cl-border);
    }

    &__title {
        font-family: var(--font-title);
        color: var(--cl-primary);
        font-size: var(--fs-7xl);
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--cl-secondary);
            text-decoration: none;
        }

        &--small {
            font-size: var(--fs-body);
        }
    }

    &__header {
        @include m.sticky-top;
        padding-top: var(--size-2);
        padding-bottom: var(--size-2);

        background-color: var(--bg-default);
        z-index: 5;
        max-height: 6rem;
        border-bottom: var(--border-1) solid var(--cl-border);
    }
    
    &__header-container {
        @include m.flex-justify();
    }

    &__action {
        @include m.flex-justify();
    }

    &__form {
        @include m.flex-justify();
    }

    &__input {
        @include m.width-height(85%, 28px);
        background-color: var(--bg-primary);
        border: var(--border-1) solid var(--cl-border);
        padding: var(--size-2);
        color: var(--cl-text);
        border-radius: var(--size-1);
        transition: border-color 0.3s ease-in-out;
        
        &:focus {
            border-color: var(--status-focus);
            outline: none;
        }

        &:hover {
            border-color: var(--status-active);
        }
    }

    &--left {
        border-right: var(--border-1) solid var(--cl-border);
    }

    &--right {
        overflow: hidden;
        .menu {
            height: 100dvh;

            &__list {
                overflow-y: auto;
                max-height: 30%;
                border: var(--border-1) solid var(--cl-border);
                font-size: var(--fs-sm);
            }

            &__link {
                font-family: var(--font-article);
                font-size: var(--fs-sm);
            }

            &__table-of-contents {
                height: 53vh;
                overflow-y: auto;
            }
        }
    }
}

#tableOfContents {
    ul {
        list-style-type: none;
        padding-left: var(--size-2);
        position: relative;
    }

    li {
        position: relative;
        padding-left: var(--size-5);

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background-color: var(--cl-border);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 15px;
            width: 10px;
            height: 1px;
            background-color: var(--cl-border);
        }

        &:last-child::before {
            height: 15px;
        }
    }
    
    a {
        font-size: var(--fs-sm);
        display: block;
        text-decoration: none;
        font-family: monospace;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--status-success);
        }
    }
}
.menu {
    @extend #tableOfContents;
}