<header class="topbar">
    
    <a class="logo" href="">
        
        <img class="logo__img" src="https://placehold.co/40" alt="">
        <div class="logo__title">{{ .Site.Title }}</div>
        
    </a>
    
    <div class="topbar__action">
        
        <button class="topbar__btn" id="leftOpen">
            <i class="bi bi-list"></i>
        </button>
        
        <button class="topbar__btn">
            <i class="bi bi-search"></i>
        </button>
        
        <button class="topbar__btn" id="discussionTab">
            <i class="bi bi-chat-dots"></i>
        </button>
        
        <button class="topbar__btn" id="switchTheme">
            <i class="bi bi-moon"></i>
        </button>
        
        <button class="topbar__btn" id="rightOpen">
            <i class="bi bi-book"></i>
        </button>
        
    </div>
    
</header>